# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\luizf\Desktop\Programming Code\youtTube\cloneAirBnbWithReact - Clever Programmer\airbnb-simple-clone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
